$primary: #738290;
$dark: #2A2B2E;
$space-increment: 1rem;

:root {
  /* Colours */
  --primary: $primary;
  --dark: $dark;

  /* Spacing */
  --space-increment: $space-increment;

  /* Typography */
  --font-family: sans-serif;

  /* Cards */
  /* flex: grow | shrink | width */
  --card-flex: 0 0 33%;
}

